#demoChatBox {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.message {
    width: 400px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding: 10px;
}

#username {
    font-weight: 600;
    margin-bottom: 10px;
}

#text-submit {
    width: 440px;
    padding: 10px;
}

#Room-Button-Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 50px;
    border: 1px solid black;
}

.Room-Button {
    width: 70px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Room-Button:hover {
    cursor: pointer;
    width: 72px;
    height: 42px;
}

#Active-Chat-Room {
    background-color: black;
    color: white;
}