.container {
    display: grid;
    grid-template-columns: calc(var(--base-unit)*30) 1fr;
    
}

.messages .content {
    display: grid;
    grid-template-columns: 290px 1fr 320px;
    height: 100vh;
    overflow: hidden;
}