.settings {
    background-color: var(--color-pink-light);
    height: 100vh;
}
.settings .content {
    display: block;
    overflow: hidden;
    margin: calc(var(--base-unit)*5);
    padding: calc(var(--base-unit)*5);
    border:1px solid var(--color-transparent-black);
    justify-content: center;
    border-radius: var(--base-unit);
    background-color: white;
}
.settings .content h1 {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.05em;
    margin-bottom: calc(var(--base-unit)*5);
    color: #000000;
    display: block;
}
.settings .content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.settings form label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.settings form button {
    width: 340px;
    background: var(--color-pink);
    border-radius: var(--base-unit);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: calc(var(--base-unit)*4);
    border: 0;
    cursor: pointer;
}
.settings form input {
    width: 340px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid var(--color-transparent-black);
    border-radius: var(--base-unit);
    padding: calc(var(--base-unit)*5);
    margin-bottom: calc(var(--base-unit)*5);
}
.settings form button:hover {
    background: #8904c6;
}
.settings form button:disabled, .settings form input:disabled {
    background-color: var(--color-pink-light);
    cursor: not-allowed;
}
.settings .tabs {
    border-bottom: 1px solid var(--color-pink-light);
    margin-bottom: calc(var(--base-unit)*8);
    display: flex;
}
.settings .tabs button {
    border: 0;
    background-color: transparent;
    font-weight: normal;
    color: var(--color-primary);
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 2px solid transparent;
    padding: calc(var(--base-unit)*3);
    width: -webkit-fill-available;
    transition: 0.25s all;
}
.settings .tabs button:hover {
    border-color: var(--color-pink-light);
    cursor: pointer;
}
.settings .tabs button.active {
    font-weight: bold;
    color: var(--color-pink);
    border-color: var(--color-pink);
}
.settings #get-zip-btn {
    margin-bottom: 30px;
}
.settings .alert {
    background-color: #FFC107;
    color: black;
    border-radius: var(--base-unit);
    padding: calc(var(--base-unit)*4);
    margin-bottom: calc(var(--base-unit)*8);
}