#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

#modal .background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color-transparent-black-dark);
}

#modal .content {
    position: absolute;
    z-index: 5000;
    background-color:var(--color-pink-light);
    max-width: 70vw;
    /* max-height: 60vh; */
    width: 800px;
    border-radius: calc(var(--base-unit)*2);
    box-shadow: 0 0 calc(var(--base-unit)*10) var(--color-transparent-black-dark);
    padding: calc(var(--base-unit)*10);
}